<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581813390000-71tugo5f6j3uk6grgc6ftu4htkas3kcr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581813390000-71tugo5f6j3uk6grgc6ftu4htkas3kcr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>581813390000-3a1134gmu9v843b7204ttbv138mgosuq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC5mBmkal_0t0dG1DVyCLSWJZZT3s_MEj8</string>
	<key>GCM_SENDER_ID</key>
	<string>581813390000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.activeitzone.ecommerceapplesignup</string>
	<key>PROJECT_ID</key>
	<string>namur-5095e</string>
	<key>STORAGE_BUCKET</key>
	<string>namur-5095e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581813390000:ios:fb81e29ad898f8b2ae8975</string>
</dict>
</plist>